<%inherit file="base.html"/>

<%def name="head()">
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/js/bootstrap-datetimepicker.min.css">
<script>
    $(document).ready(function(){
         $("#s_log_time").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true});
        $("#e_log_time").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true});
    });

</script>
</%def>

<%def name="body()">
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="glyphicon glyphicon-list-alt"></i>
            <h3 class="box-title">日志查询</h3>
        </div>
    <div class="box-body">
        <div class="container">
        <form id="query_form" class="form-horizontal form-well" role="form" action="/logQuery" method="post">
            ${xsrf_form_html()}
            <div class="form-group">
                <label for="priority" class="col-md-1 control-label">日志级别</label>
                <div class="col-md-3">
                    <select id="priority" name="priority" class="form-control">
                        <option value=""></option>
                        % for key,value in prioritys.items():
                        <option value="${key}" ${key==priority and "selected" or ""}>${value}</option>
                        % endfor
                    </select>
                </div>
                <label for="facility" class="col-md-1 control-label">日志类型</label>
                <div class="col-md-3">
                    <select id="facility" name="facility" class="form-control">
                        <option value=""></option>
                        % for key,value in facilitys.items():
                        <option value="${key}" ${key==facility and "selected" or ""}>${value}</option>
                        % endfor
                    </select>
                </div>
                <label for="host" class="col-md-1 control-label">主机</label>
                <div class="col-md-3">
                    <input type="text" id="host" name="host" class="form-control" placeholder="主机" value="${host or ''}">
                </div>
            </div>
            <div class="form-group">
                <label for="s_log_time" class="col-md-1 control-label">开始时间</label>
                <div class="col-md-3">
                    <input type="text" id="s_log_time" name="s_log_time" class="form-control" placeholder="查询开始时间"
                           value="${s_log_time or ''}" readonly>
                </div>
                <label for="e_log_time" class="col-md-1 control-label">截止时间</label>
                <div class="col-md-3">
                    <input type="text" id="e_log_time" name="e_log_time" class="form-control" placeholder="查询截止时间"
                           value="${e_log_time or ''}" readonly>
                </div>
                <label for="username" class="col-md-1 control-label">用户账号</label>
                <div class="col-md-3">
                    <input type="text" id="username" name="username" class="form-control" placeholder="用户账号"
                           value="${username or ''}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <button type="submit" class="btn btn-primary">查&nbsp;&nbsp;&nbsp;询</button>
                </div>
            </div>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>主机</th>
                    <th>用户账号</th>
                    <th>日志类型</th>
                    <th>日志级别</th>
                    <th>消息</th>
                </tr>
            </thead>
    </table>
    </div>
    </div>
</div>
</section>

</%def>